<p id="notice"><%= notice %></p>

<p>
  <b>Game:</b>
  <%= @team.game_id %>
</p>

<p>
  <b>Controller:</b>
  <%= @team.controller_id %>
</p>

<p>
  <b>Name:</b>
  <%= @team.name %>
</p>


<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
