<p id="notice"><%= notice %></p>

<p>
  <b>Username:</b>
  <%= @player.username %>
</p>

<p>
  <b>Email:</b>
  <%= @player.email %>
</p>

<p>
  <b>Password:</b>
  <%= @player.password %>
</p>

<p>
  <b>Team:</b>
  <%= @player.team_id %>
</p>


<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
